<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trader</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
.trBuy {
	background-color: #DCDCDC;
} 
.trExpired {
	text-transform: uppercase;
	text-align: center;
}
.trExpiredTrue {
	color: red;
}
.textState0 {
	color: black;
} 
.textState1 {
	color: #B8860B;
} 
.textState2 {
	color: green;
} 
.textState3 {
	color: red;
} 
.textState4 {
	color: red;
} 
.spanChangefalse {
	color: green;
}
.spanChangetrue {
	color: red;
}
</style>
</head>
<body>
	<div class="container">

	<h1>Orders - <span th:text="${{coin}}"></span></h1>

	<input id="tId" type="hidden" value="tId" th:value="${tId}"/>
	<input id="investment" type="hidden" value="investment" th:value="${investment}"/>
	
	<table id="tableLinkInformation" class="table table-striped">
	<tbody>
		<tr>
			<td>
				<span id="spanInformation"><a id="linkInformation" href="#">[+] View Coin Information</a></span>
			</td>
		</tr>
	</tbody>
	</table>
	
	<table id="tableInformation" class="table table-striped"  style="display: none;">
	<thead class="thead-dark">
		<tr>
			<th scope="col">VOLUME:</th>
			<th scope="col">LAST:</th>
			<th scope="col">LOW:</th>
			<th scope="col">PERCENT CHANGE (%):</th>
			<th scope="col">AVAILABLE:</th>
		</tr>
	</thead>	
	<tbody>
		<tr>
			<td>
				<span id="volume">...</span>
			</td>
			<td>
				<span id="last">...</span>
			</td>
			<td>
				<span id="low">...</span>
			</td>
			<td>
				<span id="percentChange">...</span>
			</td>
			<td>
				<span id="available">...</span>
			</td>
		</tr>
	</tbody>
	</table>
	
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Order Number</th>
				<th scope="col">Date Time</th>
				<th scope="col">Kind</th>
				<th scope="col">Price</th>
				<th scope="col">Amount</th>
				<th scope="col">Total</th>
				<th scope="col">Balance</th>
				<th scope="col">State</th>
				<th scope="col" style="text-align: center;">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="ord : ${orders}">
				<td th:text="${{ord.orderNumber}}"></td>
				<td th:text="${{ord.dateTime}}"></td>
				<td th:text="${{ord.kindName}}"></td>
				<td th:text="${{ord.price}}"></td>
				<td th:text="${{ord.amount}}"></td>
				<td th:text="${{ord.total}}"></td>
				<td th:text="${{ord.balance}}" th:class="@{tdBalance stateNum{st}(st=${ord.state})}"></td>
				<td th:text="${ord.stateName}" th:class="@{textState{state}(state=${ord.state})}"></td>
				<td>
					<a class="btn btn-primary btn-sm" th:onclick="'showDetailDialog('+${{ord.id}}+')'" title="Detail of Order">
						<span class="glyphicon glyphicon-align-justify"></span>
					</a>
					<a class="btn btn-primary btn-sm" th:if="${ord.state} eq 1 or ${ord.state} eq 5 or ${ord.state} eq 8" th:href="@{/order/cancel/{oId}(oId=${ord.id})}" onclick="return confirm('Continue the action?')" title="Cancel">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
					<a class="btn btn-primary btn-sm" th:if="${ord.state} eq 5" th:href="@{/order/retry/{oId}(oId=${ord.id})}" onclick="return confirm('Continue the action?')" title="Retry">
						<span class="glyphicon glyphicon-refresh"></span>
					</a>
					<a class="btn btn-primary btn-sm" th:if="${ord.canSell}" th:href="@{/order/noProfit/{oId}(oId=${ord.id})}" onclick="return confirm('Continue the action?')" title="No Profit">
						<span class="glyphicon glyphicon-thumbs-down"></span>
					</a>
					<a class="btn btn-primary btn-sm" th:if="${ord.canSell}" th:href="@{/order/immediateSell/{oId}(oId=${ord.id})}" onclick="return confirm('Continue the action?')" title="Immediate Sell">
						<span class="glyphicon glyphicon-screenshot"></span>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>(*) Pending</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><strong>Profit:</strong></td>
				<td><strong class="tdBalanceTotal"></strong></td>
				<td style="text-align: center;"><strong class="tdBalancePercent"></strong></td>
				<td><a href="JavaScript:history.back();">Back</a></td>
			</tr>
		</tfoot>
	</table>

	<div id="detailModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Detail</h4>
	      </div>
	      <div class="modal-body">
			<div id="detailModalContent"></div>	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>	
	
	<div id="trview">
		<table class="table">
		<tbody>
			<tr>
				<td>
					<span><a th:href="'javascript: showGraph(\''+${coinIdToGraph}+'\')'">[+] View Coin Graph</a><br/></span>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
	
	</div>
	
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>    
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script>
	    /*<![CDATA[*/
	    $(document).ready(function() {
	    		$("#linkInformation").click(function() {
	    	        $("#spanInformation").html("Waiting...");
		    		$.getJSON("/order/information/"+$("#tId").val(), function(data) {
		    	        $("#volume").text(data.formatedBaseVolume);
		    	        $("#last").text(data.formatedLast);
		    	        $("#low").text(data.formatedLow);
		    	        $("#percentChange").text(data.formatedPercentChange);	    	  
		    	        $("#percentChange").toggleClass("spanChange"+data.formatedPercentChange.startsWith("-"));
		    	        $("#available").text(data.formatedAvailable);
		    	        $("#tableLinkInformation").hide();
		    	        $("#tableInformation").show();
		    		});	    		
	    		});
	    		var total = 0.0;
	    		var percent = 0.0;
	    		var prior = 0.0;
	    		$(".tdBalance").each(function (i,v){
	    			if ((i % 2) == 1) {
	    				if ($(v).hasClass("stateNum2")) {
	    					total += parseFloat($(v).text().replace(',','.')) - prior;
	    				}
	    			}
	    			else {
		   			prior = parseFloat($(v).text().replace(',','.'));
	    			}
	    		});
	    		percent = (total * 100) / parseFloat($("#investment").val());
	    		$(".tdBalanceTotal").text(total.toFixed(8).replace('.',','));
	    		$(".tdBalancePercent").text(("("+percent.toFixed(2)+"%)").replace('.',','));
	    	});
	    
	    function showDetailDialog(id) {
	    	$("#detailModalContent").load("/detailOrderFrag/"+id);	  
	    	$("#detailModal").modal();
	    }
	    /*]]>*/
	</script>	
	
	<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
	<script type="text/javascript">
	function showGraph(coinIdToGraph) {
		new TradingView.widget({
     	  "container_id": "trview",
		  "width": 980,
		  "height": 610,
		  "symbol": coinIdToGraph,
		  "interval": "D",
		  "timezone": "Etc/UTC",
		  "theme": "Light",
		  "style": "1",
		  "locale": "en",
		  "toolbar_bg": "#f1f3f6",
		  "enable_publishing": false,
		  "allow_symbol_change": true,
		  "hideideas": true,
		  "studies": [
			"BB@tv-basicstudies",
			"DoubleEMA@tv-basicstudies",
			"MACD@tv-basicstudies",
			"TripleEMA@tv-basicstudies"
		  ]
		});
	}
	</script>
			
</body>
</html>