<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trader</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
.trFinished {
	background-color: #DCDCDC;
} 
table.listTable td {
	text-align: center;
}
td.td-icon {
	padding-right: 0 !important;
	padding-left: 10px !important;
}
</style>
</head>
<body>
	<div class="container">
	    
	<h1>Trader Job</h1>

	<ul>
  		<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
	</ul>

	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">USER NAME:</th>
				<th scope="col">MARKET COIN:</th>
				<th scope="col">BALANCE:</th>
				<th scope="col">AVAILABLE:</th>
				<th scope="col">BALANCE (R$):</th>
				<th scope="col"></th>
			</tr>
		</thead>	
		<tbody>
			<tr>
				<td>
					<span th:text="${traderJob.account.name}"></span>
				</td>
				<td>
					<select id="selectedMarketCoin" class="form-control">
		  				<option th:each="marketCoin : ${allMarketCoins}" 
		          			th:value="${marketCoin.id}" 
		          			th:text="${marketCoin.id}"
		          			th:selected="${marketCoin.id == selectedMarketCoin.id}"></option>
					</select>				
				</td>
				<td>
					<span id="coinBalance">...</span>
				</td>
				<td>
					<span id="coinAvailable">...</span>
				</td>
				<td>
					<span id="realBalance">...</span>
				</td>
				<td>
					<input id="hidenAmount" type="hidden" value=""/>
					<button type="button" id="btNewTraderJob" class="btn btn-primary btn-sm" data-toggle="modal" onclick="showNewDialog()" title="New Job">
						<span class="glyphicon glyphicon-new-window"></span> New
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div id="formModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Trader Job</h4>
	      </div>
	      <div class="modal-body">
			<div id="formModalContent"></div>	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">
	        	<span class="glyphicon glyphicon-remove"></span> Cancel
	        </button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="document.getElementById('myform').submit();">
	        	<span class="glyphicon glyphicon-ok"></span> OK
	        </button>
	      </div>
	    </div>
	  </div>
	</div>	
	
	<div id="optionModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Options</h4>
	      </div>
	      <div class="modal-body">
			<div id="optionsModalContent"></div>	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">
	        	<span class="glyphicon glyphicon-remove"></span> Cancel
	        </button>
	        <button id="btOptionsOK" type="button" class="btn btn-primary" data-dismiss="modal" onclick="beforePost(); document.getElementById('myformOption').submit();">
	        	<span class="glyphicon glyphicon-ok"></span> OK
	        </button>
	      </div>
	    </div>
	  </div>
	</div>	
	
	<table class="table table-striped tbTarderJob">
		<thead class="thead-dark">
			<tr>
				<th scope="col"></th>
				<th scope="col">Date Time</th>
				<th scope="col">Strategy</th>
				<th scope="col">Amount</th>
				<th scope="col">Currency<br/>Count</th>
				<th scope="col">State</th>
				<th scope="col">Profit<br/>(%)</th>
				<th scope="col">Today<br/>Profit (%)</th>
				<th scope="col">Daily<br/>Average</th>
				<th scope="col">Balance</th>
				<th scope="col" style="text-align: center;">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tr : ${listTraderJobs}" th:class="${tr.state} eq 2 ? 'trFinished' : ''">
				<td class="td-icon"><span th:if="${tr.continuoMode}" class="glyphicon glyphicon-refresh text-primary" title="Continuo Mode"></span></td>
				<td th:text="${{tr.dateTime}}"></td>
				<td th:text="${{tr.strategy}}"></td>
				<td th:text="${{tr.tradingAmount}}" class="tdAmount"></td>
				<td th:text="${{tr.currencyCount}}"></td>
				<td th:text="${{tr.stateName}}"></td>
				<td th:text="${{tr.profitPercent}}"></td>
				<td th:text="${{tr.todayProfitPercent}}"></td>
				<td th:text="${{tr.dailyAverage}}"></td>
				<td th:text="${{tr.balance}}" class="tdBalance"></td>
				<td style="text-align: center;">
					<a class="btn btn-primary btn-sm" th:onclick="'showTraderJobOptions('+${{tr.id}}+')'" title="Options">
						<span class="glyphicon glyphicon-option-horizontal"></span>
					</a>
					<a class="btn btn-primary btn-sm" th:onclick="'showEditDialog('+${{tr.id}}+')'" title="Edit Job">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
					<a th:if="${tr.state} eq 0" class="btn btn-primary btn-sm" th:href="@{/traderJob/start/{tjId}(tjId=${tr.id})}" onclick="return confirm('Continue the action?')" title="Start Job">
						<span class="glyphicon glyphicon-play"></span>
					</a>
					<a th:if="${tr.state} neq 0" class="btn btn-primary btn-sm" th:href="@{/trader/{id}(id=${tr.id},page=0,size=10)}" title="View Job">
						<span class="glyphicon glyphicon-search"></span>
					</a>
					<a th:if="${tr.state} eq 1" class="btn btn-danger btn-sm" th:href="@{/traderJob/finish/{tjId}(tjId=${tr.id})}" onclick="return confirm('Continue the action?')" title="Finish Job">
						<span class="glyphicon glyphicon-stop"></span>
					</a>
					<a th:if="${tr.state} eq 2" class="btn btn-danger btn-sm" th:href="@{/traderJob/delete/{tjId}(tjId=${tr.id})}" onclick="return confirm('Continue the action?')" title="Remove Job">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><strong class="tdTotalAmount"></strong></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><strong class="tdTotalBalancce"></strong></td>
				<td><strong class="tdTotalBalanccePercent"></strong></td>
			</tr>
		</tfoot>
	</table>
	</div>
		
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>    
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script>
	    /*<![CDATA[*/
	    $(document).ready(function() {
	    		$("#btNewTraderJob").prop('disabled', true);	    	
	    		$.getJSON("/traderJob/traderJobExchangeInfo", function(data) {
	    	        $("#coinBalance").text(data.formatedCoinBalance);
	    	        $("#realBalance").text(data.formatedRealBalance);
	    	        $("#coinAvailable").text(data.formatedAmount);
	    	        $("#hidenAmount").val(data.amount);
		    		$("#btNewTraderJob").prop('disabled', false);	    	
	    		});	 
	    		$("#selectedMarketCoin").change(function (event){
	    			window.location.href = "/traderJob/"+event.target.value;
	    		});
	    		
	    		var totalAmount = 0.0;
	    		$(".tdAmount").each(function (i,v){
	    			totalAmount += parseFloat($(v).text().replace(',','.'));
	    		});
	    		$(".tdTotalAmount").text(totalAmount.toFixed(8).replace('.',','));
	    			    		
	    		var totalBalance = 0.0;
	    		$(".tdBalance").each(function (i,v){
	    			totalBalance += parseFloat($(v).text().replace(',','.'));
	    		});
	    		var percent = ((totalBalance - totalAmount) / totalAmount) * 100; 
	    		$(".tdTotalBalancce").text(totalBalance.toFixed(8).replace('.',','));
	    		$(".tdTotalBalanccePercent").text(percent.toFixed(2).replace('.',',') + "%");
	    });
	    function changeContinuoMode(tjId,value) {
   			$.getJSON("/traderJob/changeContinuoMode/"+tjId+"/"+value, function(data) {
   				alert("Option changed");
    			});	 
	    }
	    function changeCancelBuyWhenExpire(tjId,value) {
   			$.getJSON("/traderJob/changeCancelBuyWhenExpire/"+tjId+"/"+value, function(data) {
   				alert("Option changed");
    			});	 
	    }	    
	    function changeExecuteSellWhenExpire(tjId,value) {
   			$.getJSON("/traderJob/changeExecuteSellWhenExpire/"+tjId+"/"+value, function(data) {
   				alert("Option changed");
    			});	 
	    }
	    function changeStopLoss(tjId,value) {
   			$.getJSON("/traderJob/changeStopLoss/"+tjId+"/"+value, function(data) {
   				alert("Option changed");
    			});	 
	    }
	    function showNewDialog() {
	    	$("#formModalContent").load("/newTraderJobFrag");
	    	$("#formModal").on('shown.bs.modal', function () {
		    	$("#amount").val($("#hidenAmount").val());
	    	});
	    	$("#formModal").modal();
	    }
	    function showEditDialog(id) {
	    	$("#formModalContent").load("/editTraderJobFrag/"+id, function() {
		    	$("#formModal").modal();
	    	});	  
	    }
	    function showTraderJobOptions(id) {
	    	$("#optionsModalContent").load("/traderJobOptionsFrag/"+id, function() {
	  	    	$("#optionModal").modal();
	    	});
	    }
	    /*]]>*/
	</script>	

</body>
</html>